
.link-tw {
  background-position: -0px -0px;
  width: 12px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-tw-black {
  background-position: -0px -10px;
  width: 12px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-tw-white {
  background-position: -0px -20px;
  width: 12px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-gg {
  background-position: -0px -30px;
  width: 11px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-gg-black {
  background-position: -0px -42px;
  width: 11px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-gg-white {
  background-position: -0px -54px;
  width: 11px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-ig {
  background-position: -0px -66px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-ig-black {
  background-position: -0px -76px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-ig-white {
  background-position: -0px -86px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-in {
  background-position: -0px -96px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-in-black {
  background-position: -0px -106px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-in-white {
  background-position: -0px -116px;
  width: 10px;
  height: 10px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-fb {
  background-position: -0px -126px;
  width: 6px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-fb-black {
  background-position: -6px -126px;
  width: 6px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-fb-white {
  background-position: -0px -138px;
  width: 6px;
  height: 12px;
    position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
  margin-bottom: 15px;
}