body {
  color: #282828;
  font-size: 20px;
}
body .slides__slide {
  background-color: #646464;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .slides__slide h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
